body {
    background-color: #A1DBE7;
}
.container {
    display: inline-block;
    margin-top: 50px;
    margin-left: calc((100% - 400px) / 2);
    width: 400px;
    height: 400px;
    position: relative;
}
.background {
    width: 100%;
    height: 100%;
}
.rock {
    width: 60px;
    position: absolute;
    top: 80px;
    left: 170px;
    cursor: pointer;
}
.paper {
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 60px;
    cursor: pointer;
}
.scissors {
    width: 100px;
    position: absolute;
    bottom: 90px;
    right: 60px;
    cursor: pointer;
}
.rock:hover, .paper:hover, .scissors:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.result {
    width: 400px;
    height: 400px;
    margin-top: 80px;
    margin-left: calc((100% - 400px) / 2);
    font-family: prisma;
    font-weight: bold;
}
.win-lose {
    width: 100%;
    color:  #F44D45;
    font-size: 35px;
    text-align: center;
}
.rendered > .images {
    margin-top: 50px;
    margin-left: calc((100% - 290px) / 2);
}
.userChoice {
    width: 120px;
    padding: 10px;
}
.computerChoice {
    width: 120px;
    padding: 10px;
}
.button {
    width: 90px;
    height: 45px;
    font-size: 15px;
    cursor: pointer;
    background-color: #F44D45;
    color: white;
    border: 1px solid #F44D45;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: calc((100% - 90px) / 2);
    padding: 10px;
    text-align: center;
}
.button:hover {
    border-color: white;
}


@font-face {
    font-family: "prisma";
    src: url(../fonts/Prisma.ttf) format("truetype");
    font-style: normal;
}

@media (max-width: 420px) {
    .container {
        width: 360px;
        height: 360px;
        margin-left: calc((100% - 360px) / 2);
    }
    .result {
        width: 360px;
        height: 360px;
        margin-left: calc((100% - 360px) / 2);
    }
    .rock {
        top: 80px;
        left: 150px;
    }
    .paper {
        bottom: 80px;
        left: 60px;
    }
    .scissors {
        bottom: 80px;
        right: 60px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 320px;
        height: 320px;
        margin-left: calc((100% - 320px) / 2);
    }
    .result {
        width: 320px;
        height: 320px;
        margin-left: calc((100% - 320px) / 2);
    }
    .rendered > .images {
        margin-top: 50px;
        margin-left: calc((100% - 200px) / 2);
    }
    .userChoice {
        width: 100px;
        padding: 0px;
    }
    .computerChoice {
        width: 100px;
        padding: 0px;
    }
    .rock {
        width: 50px;
        top: 80px;
        left: 135px;
    }
    .paper {
        width: 80px;
        bottom: 80px;
        left: 60px;
    }
    .scissors {
        width: 80px;
        bottom: 80px;
        right: 60px;
    }
}