body {
    background-color: #A1DBE7;
}
.container {
    display: inline-block;
    margin-top: 50px;
    margin-left: calc((100% - 400px) / 2);
    width: 400px;
    height: 400px;
    position: relative;
}
.background {
    width: 100%;
    height: 100%;
}
.rock {
    width: 60px;
    position: absolute;
    top: 80px;
    left: 170px;
    cursor: pointer;
}
.paper {
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 60px;
    cursor: pointer;
}
.scissors {
    width: 100px;
    position: absolute;
    bottom: 90px;
    right: 60px;
    cursor: pointer;
}
.rock:hover, .paper:hover, .scissors:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.result {
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: calc((100% - 400px) / 2);
}
.win-lose {
    width: 100%;
    color:  #F44D45;
    font-size: 30px;
    text-align: center;
}
.userChoice {
    width: 100px;
}
.computerChoice {
    width: 100px;
}
.button {
    width: 91px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #F44D45;
    color: white;
    border: 1px solid #F44D45;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: calc((100% - 91px) / 2);
    padding: 10px;
}
.button:hover {
    border-color: white;
}

@media (max-width: 420px) {
    div {
        width: 360px;
        height: 360px;
        margin-left: calc((100% - 360px) / 2);
    }
}

@media (max-width: 320px) {
    div {
        width: 320px;
        height: 320px;
        margin-left: calc((100% - 320px) / 2);
    }
}